@page
@model Class_Example_1.Pages.AboutPageModel
@{
    ViewData["Title"] = "About";
}

<h1>About Page</h1>
<p align = "center"><h4>FREEcycle is a free to use platform committed to upcycling your old or lightly used stuff. For and by the members of the Seattle University Community, we want you to experience the ability to safely and securely give away or obtain goods.</h4></p>
<img src ="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/Seattle_University_seal.svg/1024px-Seattle_University_seal.svg.png" width=100" height=100" />
