@page
@model Class_Example_1.Pages.FlagPage2Model
@{
    ViewData["Title"] = "Flagging Scenario: Report Post";
}

<p align="center">
    <a href="/FlagReportResolution">
        <img src="https://i.imgur.com/wDhBdzy.png">
    </a>
</p>
