@page
@model Class_Example_1.Pages.FlagPage2Model
@{
    ViewData["Title"] = "Flag Report Page";
}

<h1>FlagPage2</h1>

<p align="center">
    <a href="/FlagPage3">
        <img src="https://i.imgur.com/wDhBdzy.png">
    </a>
</p>
