@page
@model Class_Example_1.Pages.Flag-Page1Model
@{
    ViewData["Title"] = "Flag-Page1";
}

<h1>Flag-Page1</h1>

<p align="center">
     <a href="/Page2">
         <img src="https://i.imgur.com/Nc4Vgzd.png">
      </a>
 </p>

