@page
@model Class_Example_1.Pages.FlagPage2Model
@{
    ViewData["Title"] = "Flagging Scenario: Report Post";
}

<h1 style="color:#AA0000" align="left"><strong>&nbsp;&nbsp;Thank you for bringing this</strong></h1>
<h1 style="color:#AA0000" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;item to our attention.</strong></h1>
<h5 align="left">In order to maintain a safe environment we encourage you to</h5>
<h5 align="left">Self-Police these postings if they violate any of the following: </h5>

<div align="left" class="card w-50 my-lg-3 center">
    <div class="form-check my-lg-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Inappropriate Item</label>
    </div>
    <br />
    <div class="form-check my-lg-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Danger to student/others</label>
    </div>
    <br />
    <div class="form-check my-lg-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Threatening Language</label>
    </div>
    <br />
    <div class="form-check my-lg-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Harassment</label>
    </div>
    <br />
    <div class="form-check my-lg-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">Other
        <label class="form-check-label" for="exampleCheck1">
            <br />
            <div class="container">
                <textarea class="form-control" rows="3" cols="50" id="description" placeholder="Please put a description of the issues here:"></textarea>
            </div>
    </div>
    </label>
    <div class="text-center">
        <form action="/FlagReportResolution">
            <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
                <strong>REPORT</strong>
            </button>
        </form>
    </div>
</div>


