@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 style="font-size:110px; color:#AA0000" class="display-4"><strong>FREEcycle</strong></h1>

        <!--  not sure if this belongs in a prototype  <h5 align="right">By: Ryan Barr, Mark Chesney and Jason Limfueco</h5>   -->
    </div>
<br />

<!--COVID 19 Banner-->
<div style="background-color:#00cccc">
    <div style="font-size:30px; color:ghostwhite" class="text-center">
        Coronavirus (COVID-19) INFORMATION & UPDATES
    </div>
    <p style="font-size:24px; color:ghostwhite" class="text-center">Details and FAQs on the <a href="https://www.seattleu.edu/coronavirus/">COVID-19 website</a></p>
    <p style="font-size:16px; color:ghostwhite" class="text-center">Obtaining Items may be in limited availability. Please exercise cautious measures.</p>
</div>


<h5 align="center">If there is an item that you would like to see, scroll down, or press CTRL+F and type it in.</h5>
<h5 align="center">Who knows what you can find in FREEcycle?</h5>

<!--TODO: Make pretty-->

<div id="floatbar" style=" background: gray; width: 200px; height: 40px; position: absolute; left: 0; top: 74px;">
    <h6><a href="/Page1"><img src="~/Img/button.png"></a></h6>
    <!--TODO: rename Page1 to NewPost-Page1? or Prototype1-Page1? or Scenario3-Page1? idk -->
</div>
    </div>
</div>

<div class="container">
    <div class="sidebar">
    </div>

    <!-- The upper box of the left sidebar -->
    <div class="sidebar-upper">
    </div>


    <!-- The main area, for looking at item listings/posts -->
    <main role="main" class="pb-3">
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Paper weight</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#desk #accessories</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Mechanical Pencils</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#writing #bic #pencil</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/bullets.png" style="width:80px;height:80px;"></div>
            <a class="listing-item-title" style="float:left" href="FlagViewPost">DANGEROUS ITEM</></a>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#guns #ammo</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Manual Pencil sharpener</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#pencil #officesupplies #office #desk</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Fabric Scraps</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#fabric #cloth #artsncrafts</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Desk</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#desk #furniture</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Gen 1 iPod</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#ipod #oldiebutgoodie</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Stickers!</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#decorations #laptop #color</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Water Bottle</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#new #water #bottle</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Box Fan (for parts NOT working)</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#notworking #makers #parts #fan</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Various Resistors</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#electronics #makers #resistor</div>
        </div>

    </main>
</div>