@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font-size:110px; color:#AA0000" class="display-4"><strong>FREEcycle</strong></h1>

    <!--  not sure if this belongs in a prototype  <h5 align="right">By: Ryan Barr, Mark Chesney and Jason Limfueco</h5>   -->
</div>
<br />
<br />

<!--COVID 19 Banner-->
<div style="background-color:#00cccc">
    <div style="font-size:30px; color:ghostwhite" class="text-center">
        Coronavirus (COVID-19) INFORMATION & UPDATES
    </div>
    <p style="font-size:24px; color:ghostwhite" class="text-center">Details and FAQs on the <a href="https://www.seattleu.edu/coronavirus/">COVID-19 website</a></p>
    <p style="font-size:16px; color:ghostwhite" class="text-center">Obtaining Items may be in limited availability. Please exercise cautious measures.</p>
</div>


<h5 align="center">If there is an item that you would like to see, type it in the search bar to look for it.</h5>
<h5 align="center">Who knows what you can find in FREEcycle?</h5>

<!--Search bar-->
<div class="container form-row" style="display:flex;justify-content:center;align-items:center">
    <form class="form-inline" action="/IndexPostSearch">
        <div class="form-inline col-auto">
            <input class="form-control" id="Search" size="50" placeholder="Search" name="Search" aria-label="Search">
        </div>
        <div class="form-inline col-auto">
            <button class="btn btn-outline-danger" type="submit">
                <strong>SEARCH</strong>
            </button>
        </div>
    </form>
</div>

<!--BUTTON-->
<div id="floatbar" style="width: 200px; height: 40px; position: absolute; left: 0; top: 74px;">
    <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" data-toggle="modal" data-target="#postModal">
        <strong>NEW POST</strong>
    </button>
    <form action="/IndexPostRemoved">
        <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
            <strong>BACK TO TOP</strong>
        </button>
    </form>
    <form action="https://forms.gle/gUdPth8uwrB7JNU89">
        <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
            <strong>Help Us Improve</strong>
        </button>
    </form>
</div>

<div class="container">
    <div class="sidebar">
    </div>

    <!-- The upper box of the left sidebar -->
    <div class="sidebar-upper">
    </div>


    <!-- The main area, for looking at item listings/posts -->
    <main role="main" class="pb-3">
        <div class="listing">
            <div class="listing-img"><img src="~/img/couch.jpg" style="width:80px;height:80px;"></div>
            <a class="listing-item-title" style="float:left" href="CouchPost">Big Green Couch</a>
            <div class="listing-item-date-person" style="float:right">June 2, 2020</div>
            <br />
            <div class="listing-item-hashtags">#couch #vintage #green</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Paper weight</div>
            <div class="listing-item-date-person" style="float:right">June 2, 2020</div>
            <br />
            <div class="listing-item-hashtags">#desk #accessories</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Mechanical Pencils</div>
            <div class="listing-item-date-person" style="float:right">June 2, 2020</div>
            <br />
            <div class="listing-item-hashtags">#writing #bic #pencil</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Manual Pencil sharpener</div>
            <div class="listing-item-date-person" style="float:right">June 2, 2020</div>
            <br />
            <div class="listing-item-hashtags">#pencil #officesupplies #office #desk</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Fabric Scraps</div>
            <div class="listing-item-date-person" style="float:right">June 1, 2020</div>
            <br />
            <div class="listing-item-hashtags">#fabric #cloth #artsncrafts</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Desk</div>
            <div class="listing-item-date-person" style="float:right">June 1, 2020</div>
            <br />
            <div class="listing-item-hashtags">#desk #furniture</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Gen 1 iPod</div>
            <div class="listing-item-date-person" style="float:right">June 1, 2020</div>
            <br />
            <div class="listing-item-hashtags">#ipod #oldiebutgoodie</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Stickers!</div>
            <div class="listing-item-date-person" style="float:right">June 1, 2020</div>
            <br />
            <div class="listing-item-hashtags">#decorations #laptop #color</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Water Bottle</div>
            <div class="listing-item-date-person" style="float:right">June 1, 2020</div>
            <br />
            <div class="listing-item-hashtags">#new #water #bottle</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Box Fan (for parts NOT working)</div>
            <div class="listing-item-date-person" style="float:right">May 31, 2020</div>
            <br />
            <div class="listing-item-hashtags">#notworking #makers #parts #fan</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Various Resistors</div>
            <div class="listing-item-date-person" style="float:right">May 31, 2020</div>
            <br />
            <div class="listing-item-hashtags">#electronics #makers #resistor</div>
        </div>

    </main>
</div>

<!--Pop up block-->
<div class="modal fade" id="postModal" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #ffffff; border-radius: 10px;">
            <h1 style="color:#AA0000" align="center"><strong>Create a New Post</strong></h1>
            <h5 align="center">
                Please fill in a Title and Description below!
            </h5>
            <br>
            <div class="container">
                <form class="form-inline my-5 my-lg-3">
                    <input class="mr-sm-3" size="47" type="text" placeholder="Title" aria-label="Title" />
                </form>
            </div>
            <br />
            <div class="container">
                <textarea class="form-control" rows="7" id="description" placeholder="Description"></textarea>
            </div>
            <br />

            <div class="container">
                <form class="form-inline my-5 my-lg-3">
                    <input class="mr-sm-3" size="30" type="text" placeholder="#Tag your item" aria-label="HashTag" />
                </form>
            </div>
            <!--button suite in the pop up-->
            <div class="container form-row" style="display:flex;justify-content:center;align-items:center">
                <form class="form-inline" action="/IndexPostComplete">
                    <div class="form-inline col-auto">
                        <label class="btn btn-outline-danger btn-lg btn-block" for="my-file-selector">
                            <input id="my-file-selector" type="file" class="d-none">
                            <strong>Upload Photo</strong>
                        </label>
                    </div>
                    <div class="form-inline col-auto">
                        <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
                            <strong>Publish</strong>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>