@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font-size:110px; color:#AA0000" class="display-4"><strong>FREEcycle</strong></h1>

    <!--  not sure if this belongs in a prototype  <h5 align="right">By: Ryan Barr, Mark Chesney and Jason Limfueco</h5>   -->
</div>
<br />
<br />

<!--COVID 19 Banner-->
<div style="background-color:#00cccc">
    <div style="font-size:30px; color:ghostwhite" class="text-center">
        Coronavirus (COVID-19) INFORMATION & UPDATES
    </div>
    <p style="font-size:24px; color:ghostwhite" class="text-center">Details and FAQs on the <a href="https://www.seattleu.edu/coronavirus/">COVID-19 website</a></p>
    <p style="font-size:16px; color:ghostwhite" class="text-center">Obtaining Items may be in limited availability. Please exercise cautious measures.</p>
</div>


<h5 align="center">If there is an item that you would like to see, type it in the search bar to look for it.</h5>
<h5 align="center">Who knows what you can find in FREEcycle?</h5>

<!--Search bar-->
<div class="container form-row" style="display:flex;justify-content:center;align-items:center">
    <form class="form-inline" action="/IndexPostSearch">
        <div class="form-inline col-auto">
            <input class="form-control" id="Search" size="50" placeholder="Search" name="Search" aria-label="Search">
        </div>
        <div class="form-inline col-auto">
            <button class="btn btn-outline-danger" type="submit">
                <strong>SEARCH</strong>
            </button>
        </div>
    </form>
</div>

<!--BUTTON-->
<div id="floatbar" style="width: 200px; height: 40px; position: absolute; left: 0; top: 74px;">
    <form action="/NewPost">
        <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
            <strong>NEW POST</strong>
        </button>
    </form>
    <form action="/IndexPostSearch">
        <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
            <strong>BACK TO TOP</strong>
        </button>
    </form>
    <form action="https://forms.gle/gUdPth8uwrB7JNU89">
        <button class="btn btn-outline-danger btn-lg btn-block my-lg-2" type="submit">
            <strong>Help Us Improve</strong>
        </button>
    </form>
</div>

<div class="container">
    <div class="sidebar">
    </div>

    <!-- The upper box of the left sidebar -->
    <div class="sidebar-upper">
    </div>


    <!-- The main area, for looking at item listings/posts -->
    <main role="main" class="pb-3">
        <div class="listing">
            <div class="listing-img"><img src="~/img/couch.jpg" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Big Green Couch</div>
            <div class="listing-item-date-person" style="float:right">June 2, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#couch #vintage #green</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Small sofa, well loved</div>
            <div class="listing-item-date-person" style="float:right">May 30, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#couch #loveseat #furniture</div>
        </div>
        <div class="listing">
            <div class="listing-img"><img src="~/img/SUinterlock.png" style="width:80px;height:80px;"></div>
            <div class="listing-item-title" style="float:left">Very 90s couch, great condition</div>
            <div class="listing-item-date-person" style="float:right">May 25, 2020</div>
            <br />
            <div class="listing-item-hashtags text-center">#couch #90s #plaid</div>
        </div>
    </main>
</div>