@page
@model Class_Example_1.Pages.Page1Model
@{
    ViewData["Title"] = "Page1";
}

    <div align="center" class="card w-50 center">
        <h3 align="center">Create a New Post</h3>
        <h5 align="center">Please fill in a Title and Description below!</h5>
        <br>
        <div class="container">
            <form class="form-inline my-2 my-lg-3">
                <input class="mr-sm-3" type="text" placeholder="Title" aria-label="Title" />
            </form>
        </div>
        <br />
        <div class="container">
            <textarea class="form-control" rows="7" id="description" placeholder="Description"></textarea>
        </div>
        <br />

        <div class="container">
            <form class="form-inline my-2 my-lg-3">
                <input class="mr-sm-3" type="text" placeholder="#Tag your item" aria-label="HashTag" />
            </form>
        </div>

        <br />
        <label class="btn btn-primary" for="my-file-selector">
            <input id="my-file-selector" type="file" class="d-none">
            Add pictures
        </label>
        


    </div>