@page
@model Class_Example_1.Pages.Page4Model
@{
    ViewData["Title"] = "Page4";
}

<h1>Page4</h1>

<p align="center">
    <a href="/Page5">
        <img src="https://i.imgur.com/UNz1Z6Z.png">
    </a>
</p>